{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4 text-center">Menú del Restaurante</h2>

<div class="row">
    {% for p in platos %}
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ p.nombre }}</h5>
                    <p class="card-text">{{ p.descripcion }}</p>
                    <h6 class="text-success">$ {{ p.precio }}</h6>

                    <div class="d-flex justify-content-between mt-3">
                        <a href="/editar/{{ p.id }}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/eliminar/{{ p.id }}" class="btn btn-danger btn-sm"
                           onclick="return confirm('¿Eliminar este plato?')">
                           Eliminar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No hay platos registrados.</p>
    {% endfor %}
</div>

{% endblock %}